/* Empty. Add your own CSS if you like */
.scroll{
	height: 100%;
}

#map{
	height: 100%;
	width: 100%;
}
.text-bold{
	font-weight: bold !important;
}

.subtitle{
	color:blue !important;
}

.state-1{
	background-color: #BAC8F9;
}

.state-2{
	background-color: #FFE585;
}

.state-3{
	background-color: #5CFF8B;
}

.state-4{
	background-color: #FFFFFF;
}

.single-date{
	float: right;
}

.title{
	max-width: 80%;
}

.single{
	box-shadow: 1px 10px 10px 10px;
}